html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

.myblog-url {
  position: relative;
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 40px;
  background: #181818;
  border-bottom: 2px solid #3c3c3c;
  padding: 8px 10px;
  cursor: move;
}
#traffic {
  display: block;
  width: 16px;
  height: 16px;
  float: left;
  margin: 4px;
  -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.red {
  background: #fab8b8;
}
.red:hover {
  background: #f70404;
}
.yellow {
  background: #faf9b8;
}
.yellow:hover {
  background: #fffb00;
}
.green {
  background: #cafab8;
}
.green:hover {
  background: #46ff00;
}

.up {
  color: black;
  font-size: 15px;
  text-align: center;
}

.terminal .card {
  margin: auto;
  width: 100%;
  height: calc(100% - 67px);
  position: relative;
  padding: 20px 20px 0 20px;
  border-radius: 0 0 10px 10px;
}

.terminal {
  font-size: 20px;
  width: 500px;
  height: 200px;
  border-radius: 10px;
  color: #60ff60;
  box-shadow: 1px 2px 4px #000000;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 0 0 20px 0;
  background: rgba(0, 0, 0, 0.7);
}
.terminal-question {
  margin-left: 20px;
}

.blink {
  animation: blinker 1s linear infinite;
  margin-left: 10px;
  font-size: 24px;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
input {
  font-size: 20px;
  background: transparent;
  border-color: #000;
  border: 0px solid;
  color: #60ff60;
  font: inherit;
}
input:focus {
  outline: none;
}
.last {
  position: relative;
  bottom: 0;
  padding: 0 20px;
}
